<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Golden Drip Cafe</title>
</head>
<body>
    
    <%- include('./partials/nav') %>
    <span class="border border-black">
    <div class="card mb-3" style="max-width: 540px;">
        <div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.thespruceeats.com/thmb/SalyKjzBU-K1Bv-FTFWnbd6ckjY=/2121x1414/filters:fill(auto,1)/GettyImages-639704020-5c4a63ecc9e77c00017bfebf.jpg" class="img-fluid rounded-start" alt="Biryani">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Chicken Dum Biryani</h5>
              <p class="card-text">1 kg chicken dum biryani + 1 cup raita + 1 cup aachar + salad + coca cola</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>

    <div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://atanurrannagharrecipe.com/wp-content/uploads/2022/12/Chicken-Chap-photo-01.jpg" class="img-fluid rounded-start" alt="chicken chap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Chicken Chap</h5>
              <p class="card-text">2 pcs checken chap</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
      </div>
    </span>



    <!-- <span class="border border-black"> -->

        <div>
            <div class="border border-black mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">PRICE DETAILS</div>
                <div class="card-body ">
                  <h5 class="card-title">Price</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">Footer</div>
              </div>
        </div>
    <!-- </span> -->






    <%- include('./partials/scripts') %>
    <!-- <%- include('./partials/foot') %> -->




</body>
</html>