<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Golden Drip Cafe</title>
</head>
<body>
    
    <%- include('./partials/nav') %>

    





    <%- include('./partials/scripts') %>
    <!-- <%- include('./partials/foot') %> -->




</body>
</html>