<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Golden Drip Cafe</title>
</head>
<body>
    
    <%- include('./partials/nav') %>

    <div class="card" style="width: 18rem;">
        <img src="https://www.thespruceeats.com/thmb/SalyKjzBU-K1Bv-FTFWnbd6ckjY=/2121x1414/filters:fill(auto,1)/GettyImages-639704020-5c4a63ecc9e77c00017bfebf.jpg
        " class="card-img-top" alt="Biryani">
        <div class="card-body">
          <h5 class="card-title"><b>Chicken Dum Biryani</b></h5>
          <p class="card-text">1 kg chicken dum biryani + 1 cup raita + 1 cup aachar + salad + coca cola
        </p>

        <p><b>Price : </b>230</p>
          <!-- <a href="#" class="btn btn-outline-primary">show details</a> -->
          <a href="#" class="btn btn-outline-primary">Add to cart</a>
        </div>
      </div>



    <%- include('./partials/scripts') %>
    <!-- <%- include('./partials/foot') %> -->




</body>
</html>